<!DOCTYPE html>
<html data-ng-app="TodoApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title data-ng-controller="titleCont"> {{title}} </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="app.js"></script>
</head>
<body>
	<div class="container"> 
		<div class="row">
			<div class="col-md-6 col-md-offset-3" data-ng-controller="todoItems">
				<h3>{{header}} <span>({{getTotaltask()}} adet göreviniz var)</span></h3>
				<ul><li ng-repeat="task in tasks">
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="task.isDone">
								&nbsp;<span ng-class="{'done':task.isDone}">{{task.name}}</span>
							</label>
						</div>		
					</li>
				</ul>
				<button ng-click="DeleteTasks()" class="btn btn-danger">Görev Sil</button><br><br>
				<form ng-submit="newTask()" name="frm" novalidate>
					<div class="form-group">
						<input type="text" class="form-control" ng-model="task" class="form-control" required placeholder="Yeni Görev Ekle...">
					</div>
					<button type="submit" ng-disabled="frm.$invalid" class="btn btn-primary">Ekle</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>